@import "~src/variables";

.page-container {
  padding: 40px;
  background-color: $page-background-color;
  border-radius: 3px;
  box-shadow: 3px 3px 15px lighten(black, 80);
}

@media screen and (max-width: 500px) {
  .page-container {
    padding: 20px;
  }
}
