@import "~src/variables";

app-icon {

  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background-color: $icon-hover;
  }

  &:active {
    background-color: $icon-active;
  }
}
