@import "~src/variables";

app-page-container {

  h2 {
    text-transform: capitalize;
  }

  h3 {
    font-size: 1rem;
  }

  .content {

    display: flex;
    flex-wrap: wrap;

    .image-box {
      min-width: 600px;
      flex: 1;
      height: auto;
    }

    .text-box {
      background-color: $page-background-color-second;
      padding: 20px;
      border-radius: 3px;
      min-width: 300px;
      flex: 1;
      position: relative;
      table {
        width: 100%;
        tr {
          height: 30px;
        }
      }

      app-icon-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }

  @media screen and (max-width: 900px) {

    .content {
      flex-direction: column;
    }

    .image-box {
      min-width: 0 !important;
    }

    .text-box {
      min-width: 0 !important;
    }
  }

}

