@import'~src/variables';

.wrapper {
  width: $wrapper-size;
  min-height: 800px;
  margin-top: 40px;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
  }
}
