@import "~src/variables";

.control-bar {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;

  width: 100%;
  padding: 20px 40px;
  background-color: $page-background-color;
  border-radius: 3px;
  box-shadow: 3px 3px 15px lighten(black, 80);
}



.items-grid {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;

}
