<div class="control-bar">
  <div class="left">
    <app-multiple-choice-select
      [values]="getBrandNames()"
      [keys]="getBrandIds()"
      (optionSelect)="clothesByBrand($event)"
    >
      Brand
    </app-multiple-choice-select>
    <app-vertical-divider></app-vertical-divider>
    <app-multiple-choice-select
      [values]="getTypeNames()"
      [keys]="getTypeIds()"
      (optionSelect)="clothesByType($event)"
    >
      Type
    </app-multiple-choice-select>
  </div>
  <div class="right">
    <app-tag *ngFor="let filterItem of filter" [filterItem]="filterItem" (remove)="removeFilter(filterItem)"></app-tag>
  </div>

</div>
<div class="items-grid">
  <ng-container *ngFor="let clothesItem of clothes">
    <a [routerLink]="['/clothes', clothesItem.id]">
      <app-clothes-item style="z-index: -1" [item]="clothesItem"></app-clothes-item>
    </a>
  </ng-container>
</div>
<ng-container *ngIf="clothes.length < 1">
  <p class="message"><app-icon>info</app-icon>Keine passenden Ergebnisse gefunden</p>
</ng-container>

