@import'variables.scss';
@import '~material-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:first-letter {
    text-transform: uppercase;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $font-color-darker;
}

.wrapper {
  margin: 0 auto;
}

a {
  color: $font-color-dark;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;

  @media screen and (max-width: 1250px) {
    font-size: 1.7rem;
  }

  @media screen and (max-width: 500px) {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  color: $font-color-dark;
}

ul {
  margin-left: 18px;
}

table {
  th {
    text-align: left;
  }
}

button {
  background-color: $font-color-darker;
  color: white;
  transition: background-color 0.2s;
  border: none;
  outline: none;
  padding: 8px 10px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    background-color: $background-color;
    color: black;
  }
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid $font-color-darker;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.button-bar {
  display: flex;
  justify-content: flex-end;
}

.message {
  display: flex;
  align-items: center;
  app-icon {
    margin-right: 10px;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

app-vertical-divider,
app-horizontal-divider {
  display: block;
  width: 100%;
  height: 100%;
}
