@import'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border_box
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

.wrapper {
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}
